.carre {
  animation: rotate 2.5s infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.carre1 {
  animation: fadeIn 2s infinite;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.carre3 {
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
.carre4 {
  animation: slide 2s infinite;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transition: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}
.carre5 {
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transition: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}
